body { background: #22dfa8; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-uploader-0 { color: #de112e; font-size: 14px; margin-bottom: 5px; }
.block-notify-1 { color: #ad31a5; font-size: 20px; margin-bottom: 5px; }
.block-uploader-2 { color: #c505be; font-size: 19px; margin-bottom: 5px; }
.block-filter-3 { color: #161ea6; font-size: 14px; margin-bottom: 5px; }
.block-invoice-4 { color: #7a5636; font-size: 15px; margin-bottom: 5px; }